.emotion
{
  width: 100%;
  height: auto;
  background: rgba(216,216,216,0.20);
  margin-top: 70px;
  z-index: 999;
}

.emotion__all
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.emotion__title
{
  width: 600px;
  font-family: "PT Sans-Bold";
  color: #383838;
  font-size: 42px;
  line-height: 47px;
  text-align: left;
  padding-top: 55px;
  position: relative;
  left: 100px;
  margin-bottom: 60px;
}

.emotion__description
{
    width: 700px;
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 40px;
    margin-left: 100px;
}

.emotion__img img
{
  margin-top: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
        .emotion
        {
          height: 1100px;
          background: rgba(216,216,216,0.20);
          margin-top: 70px;
          z-index: 999;
        }

      .emotion__all
      {
        flex-direction: column;
      }

      .emotion__title {
          width: 650px;
          font-family: "PT Sans-Bold";
          color: #383838;
          font-size: 42px;
          line-height: 47px;
          text-align: center;
          padding-top: 55px;
          position: relative;
          left: 40px;
          margin-bottom: 60px;
      }

      .emotion__description {
          width: 650px;
          font-family: "PT Sans";
          font-size: 24px;
          line-height: 31px;
          color: #383838;
          margin-bottom: 40px;
          margin-left: 40px;
      }

      .emotion__img img
      {
        width: 350px;
        margin-top: 25px;
        margin-left: 200px;
      }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .emotion
  {
    width: 100%;
    height: 1350px;
    background: rgba(216,216,216,0.20);
    margin-top: 70px;
    z-index: 999;
  }

.emotion__all
{
  flex-direction: column;
}

.emotion__title {
    width: 280px;
    font-family: "PT Sans-Bold";
    color: #383838;
    font-size: 42px;
    line-height: 47px;
    text-align: center;
    padding-top: 55px;
    position: relative;
    left: 40px;
    margin-bottom: 60px;
}

.emotion__description {
    width: 280px;
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 40px;
    margin-left: 40px;
}

.emotion__img img
{
  width: 280px;
  margin-top: 25px;
  margin-left: 40px;
}

}
