.uniform
{
  height: 700px;
}

.uniform__all
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.uniform__title
{
  width: 500px;
  font-family: "PT Sans-Bold";
  color: #383838;
  font-size: 42px;
  line-height: 47px;
  text-align: left;
  padding-top: 55px;
  position: relative;
  left: 50px;
  margin-bottom: 60px;
}

.uniform__description
{
    width: 500px;
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 40px;
    margin-left: 50px;
}

.uniform__img img
{
  width: 600px;
  margin-top: 25px;
  margin-left: 45px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .uniform
  {
    height: 850px;
  }

.uniform__all
{
  flex-direction: column;
}

.uniform__title {
    width: 650px;
    font-family: "PT Sans-Bold";
    color: #383838;
    font-size: 42px;
    line-height: 47px;
    text-align: center;
    padding-top: 55px;
    position: relative;
    left: 40px;
    margin-bottom: 60px;
}

.uniform__description {
    width: 650px;
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 40px;
    margin-left: 40px;
}

.uniform__img img
{
  width: 350px;
  margin-top: 25px;
  margin-left: 200px;
}

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .uniform
  {
    height: 850px;
  }

.uniform__all
{
  flex-direction: column;
}

.uniform__title {
    width: 280px;
    font-family: "PT Sans-Bold";
    color: #383838;
    font-size: 42px;
    line-height: 47px;
    text-align: center;
    padding-top: 55px;
    position: relative;
    left: 40px;
    margin-bottom: 60px;
}

.uniform__description {
    width: 280px;
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 40px;
    margin-left: 40px;
}

.uniform__img img
{
  width: 280px;
  margin-top: 25px;
  margin-left: 40px;
}

}
